.row{
  width: 90%;
}

.order .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.order .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.order .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input, .order .row form textarea{
  padding: 10px;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:100%;
}

.order .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

#btnCrear{
  background: rgb(255, 80, 80);
  margin: 10px;
  font-size: 15px;
}

#btnCrear:hover{
  background: rgb(211, 89, 89);
}

